<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="google-site-verification" content="F1QTbEPxWdQGxu6KV1rpfGinix_VNA7d6DDVmSRuhyc" />
        <title>Welcome :: The Minority Psychology Network</title>

        <!-- CSS link here -->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
        <!-- Fonts -->
        
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <!-- font-family: 'Montserrat', sans-serif; -->
        <!-- Bootstrap here -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css" rel="stylesheet">
        
        
    </head>
    <body>       
       

        <div className="header">
            <div className="container-fluid">
                <div className="inner-con search-doctor">
                    <div className="links">
                        <a href="#"><i className="angle-left"></i> Find Doctor</a>
                    </div>
                    <div className="explore">
                        Explore<span>Plus</span>
                    </div>  
                </div>
            </div>    
        </div>
        <section className="main-section">
            <div className="content-section doctor-section view-doctor">
                <div className="doctor-list">
                    <ul>
                        <li>
                            <div className="list-header">
                                <div className="left">
                                    <figure><img src="assets/images/doctor-profile.jpg" alt=""></figure>
                                    <div className="caption">
                                        <h3>Melanie R Sida</h3>
                                        <h4>Psychiatric Nurse Practitioner, MSN, APRN, CPNP-PC, Rxn</h4>
                                    </div>
                                </div>
                                <div className="right">
                                    <a href="javascript:void(0)" className="btn btn-small-outline"><img src="assets/images/verified-user.png" alt="Verified User"> Verified</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div className="content-block pb-0">
                                <h3><strong>About Doctor</strong></h3>
                                <p>I have had the privilege of working with patients for the last 17 years 
                                    struggling with psychiatric problems. In the last 10 years, I have been living 
                                    and working overseas treating patients from all over the world. Many of 
                                    my patients suffered silently for years with an awareness that things were 
                                    sub-optimal only to realize, after receiving care, that they could have felt 
                                    better long before if they had sought professional help. Receiving optimal 
                                    care entails knowing that your provider is an expert, that they care about 
                                    you as a person, and maintaining continuity over time to achieve results.</p>
                            </div>
                        </li>
                        <li>
                            <div className="content-block pb-0">
                                <h3><strong>Finances: Cost per Session: $200 - $400</strong></h3>
                                <p>
                                    Pay By: American Express, Cash, Check, Health Savings Account, 
                                    Mastercard, Visa</p>
                            </div>
                        </li>
                        <li>
                            <div className="content-block pb-0">
                                <h3><strong>Qualifications</strong></h3>
                                <div className="qualification-list">
                                    <p><span>Years in Practice:  </span> 19 Years</p>
                                    <p><span>License:            </span> Colorado / DR061068</p>
                                    <p><span>School:             </span> Indiana University School of Medicine</p>
                                    <p><span>Year Graduated:     </span> 1997</p>
                                    <p><span>Board Certification:</span> ABPN</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div className="content-block pb-0">
                                <h3><strong>Location</strong></h3>
                                <p>1615 Silversmith Road, Colorado Springs, CO 80921
                                    (719) 454-8458</p>
                            </div>
                        </li>
                        <li>
                            <div className="content-block pb-0">
                                <h3><strong>Specialties</strong></h3>
                                <p>ADHD, Depression, Anxiety</p>
                            </div>
                        </li>
                        <li className="list-footer-bottom">
                            <div className="list-footer">
                                <button type="button" className="btn btn-outline-primary"><i className="fa fa-envelope" aria-hidden="true"></i> View Doctor</button>
                                <button type="button" className="btn btn-primary"><img src="assets/images/mobile-icon.png" alt=""> Contact Doctor</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        
        
        
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>
