<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="F1QTbEPxWdQGxu6KV1rpfGinix_VNA7d6DDVmSRuhyc" />
    <title>Welcome :: The Minority Psychology Network</title>
    <!-- CSS link here -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- font-family: 'Montserrat', sans-serif; -->
    <!-- Bootstrap here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css"
        rel="stylesheet">
</head>

<body>
    <div className="header">
        <div className="container-fluid">
            <div className="inner-con search-doctor">
                <div className="hemburger-menu">
                    <a href="#"><img src="assets/images/hemburger-icon.png" alt="Hemburger"></a> <span>Event</span>
                </div>
                <div className="explore">
                    Explore<span>Plus</span>
                </div>
            </div>
        </div>
    </div>
    <section className="main-section">
        <div className="content-section upcoming-events">
            <div className="container-fluid">
                <h2>Upcoming Events</h2>
                <div className="expert-category-list">
                    <ul>
                        <li>
                            <figure><img src="assets/images/expert-img1.png" alt="Therapists"></figure>
                            <div className="caption">
                                <h3>International Doctors Day</h3>
                                <h4>Tuesday, 30 March, 2021</h4>
                                <p>Bright Futures Psychiatry, 4729 Opus Dr</p>
                            </div>
                        </li>
                        <li>
                            <figure><img src="assets/images/expert-img1.png" alt="Therapists"></figure>
                            <div className="caption">
                                <h3>EndoFinisher With Dr Niranjan Vatkar</h3>
                                <h4>Tuesday, 30 March, 2021</h4>
                                <p>Trinity Institute, 14960 Woodcarver Road</p>
                            </div>
                        </li>
                        <li>
                            <figure><img src="assets/images/expert-img1.png" alt="Therapists"></figure>
                            <div className="caption">
                                <h3>International Doctors Day</h3>
                                <h4>Tuesday, 30 March, 2021</h4>
                                <p>Bright Futures Psychiatry, 4729 Opus Dr</p>
                            </div>
                        </li>
                        <li>
                            <figure><img src="assets/images/expert-img1.png" alt="Therapists"></figure>
                            <div className="caption">
                                <h3>International Doctors Day</h3>
                                <h4>Tuesday, 30 March, 2021</h4>
                                <p>Bright Futures Psychiatry, 4729 Opus Dr</p>
                            </div>
                        </li>
                        <li>
                            <figure><img src="assets/images/expert-img1.png" alt="Therapists"></figure>
                            <div className="caption">
                                <h3>International Doctors Day</h3>
                                <h4>Tuesday, 30 March, 2021</h4>
                                <p>Bright Futures Psychiatry, 4729 Opus Dr</p>
                            </div>
                        </li>
                        <li>
                            <figure><img src="assets/images/expert-img1.png" alt="Therapists"></figure>
                            <div className="caption">
                                <h3>EndoFinisher With Dr Niranjan Vatkar</h3>
                                <h4>Tuesday, 30 March, 2021</h4>
                                <p>Trinity Institute, 14960 Woodcarver Road</p>
                            </div>
                        </li>
                        <li>
                            <figure><img src="assets/images/expert-img1.png" alt="Therapists"></figure>
                            <div className="caption">
                                <h3>International Doctors Day</h3>
                                <h4>Tuesday, 30 March, 2021</h4>
                                <p>Bright Futures Psychiatry, 4729 Opus Dr</p>
                            </div>
                        </li>
                        <li>
                            <figure><img src="assets/images/expert-img1.png" alt="Therapists"></figure>
                            <div className="caption">
                                <h3>International Doctors Day</h3>
                                <h4>Tuesday, 30 March, 2021</h4>
                                <p>Bright Futures Psychiatry, 4729 Opus Dr</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>



    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>