<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="google-site-verification" content="F1QTbEPxWdQGxu6KV1rpfGinix_VNA7d6DDVmSRuhyc" />
        <title>Welcome :: The Minority Psychology Network</title>
        <!-- CSS link here -->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
        <!-- Fonts -->   
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <!-- font-family: 'Montserrat', sans-serif; -->
        <!-- Bootstrap here -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css" rel="stylesheet">  
    </head> 
    <body>         
        <div className="header">
            <div className="container-fluid">
                <div className="inner-con">
                    <div className="hemburger-menu">    
                        <a href="#"><img src="assets/images/hemburger-icon.png" alt="Hemburger"</a>
                    </div>
                    <div className="bell">
                        <a href="#"><img src="assets/images/bell-icon.png" alt="Bell"></a>
                    </div>
                </div>
            </div>    
        </div>
        <section className="main-section">
            <div className="search-form">
                <div className="container-fluid">
                    <h1>Find Your Minority<br> Psychology Expert</h1>
                    <div className="form">
                        <input type="search" className="searchInput" name="Search" placeholder="Search Name, City or Zip" />
                    </div>
                </div>
            </div>
            <div className="content-section">
                <div className="container-fluid">
                    <h2>Categories</h2>
                    <div className="category-list">
                        <ul>
                            <li>
                                <figure><img src="assets/images/cate-icon1.png" alt="Therapists"></figure>
                                <figcaption>Therapists</figcaption>
                            </li>
                            <li>
                                <figure><img src="assets/images/cate-icon2.png" alt="Teletherapy "></figure>
                                <figcaption>Teletherapy </figcaption>
                            </li>
                            <li>
                                <figure><img src="assets/images/cate-icon3.png" alt="Psychiatrists "></figure>
                                <figcaption>Psychiatrists </figcaption>
                            </li>
                        </ul>
                    </div>
                    
                    <h2 className="flexbox">Minority Psychology Experts <a href="#">Show All</a></h2>
                    <div className="expert-category-list">
                        <ul>
                            <li>
                                <figure><img src="assets/images/expert-img1.png" alt="Therapists"></figure>
                                <div className="caption">
                                    <h3>Daeton DeGrant <span>(LCSW,LSCSW)</span></h3>
                                    <h4>Therapists </h4>
                                    <p>Bright Futures Psychiatry, 4729 Opus Dr</p>
                                </div>
                            </li>
                            <li>
                                <figure><img src="assets/images/expert-img1.png" alt="Therapists"></figure>
                                <div className="caption">
                                    <h3>Teodor Huzij <span>(CSW,LMSN, APRN, CPNP-PC, Rxn)</span></h3>
                                    <h4>Psychiatrist, DO </h4>
                                    <p>Trinity Institute, 14960 Woodcarver Road</p>
                                </div>
                            </li>
                            <li>
                                <figure><img src="assets/images/expert-img1.png" alt="Therapists"></figure>
                                <div className="caption">
                                    <h3>Renae Wise  <span>(LCSW,LSCSW)</span></h3>
                                    <h4>Psychiatric Nurse Practitioner </h4>
                                    <p>Colorado Springs, CO 80906</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>
