<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="F1QTbEPxWdQGxu6KV1rpfGinix_VNA7d6DDVmSRuhyc" />
    <title>Welcome :: The Minority Psychology Network</title>

    <!-- CSS link here -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- font-family: 'Montserrat', sans-serif; -->
    <!-- Bootstrap here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css"
        rel="stylesheet">
</head>
<body>
    <!-- side menu html goes here -->
    <div className="outerLay" id="outerlay"></div>        
    <div className="sidemenu" id="sidemenu">        
        <div className="profile-header">
            <a href="#">
                <figure><img src="assets/images/user-profile-img.jpg" alt="User Image"></figure>
                <figcaption>
                    <strong>Mark Lee</strong>
                    <span>+91 9548457845</span>
                </figcaption>
            </a>
        </div>
        <div className="menu">
            <ul>
                <li><a href="#"><i className="icon about-icon"></i> About Us</a></li>
                <li><a href="#"><i className="icon events-icon"></i> Events</a></li>
                <li><a href="#"><i className="icon contact-icon"></i> Contact Us</a></li>
                <li><a href="#"><i className="icon rate-icon"></i> Rate Us</a></li>
                <li><a href="#"><i className="icon rating-icon"></i> Rating &amp; Reviews</a></li>
                <li><a href="#"><i className="icon logout-icon"></i> Log Out</a></li>  
            </ul>
        </div>
    </div>
    <!-- end here -->
   
    <div className="header">
        <div className="container-fluid">
            <div className="inner-con search-doctor">
                <div className="hemburger-menu">
                    <a href="javascript:void(0)" id="menuBtn"><img src="assets/images/hemburger-icon.png"
                            alt="Hemburger"></a> <span>Event</span>
                </div>
                <div className="explore">
                    Explore<span>Plus</span>
                </div>
            </div>    
        </div>
    </div>   
    <section className="main-section">
        <div className="content-section plans">
            <div className="container-fluid">
                <h4 className="normal-title">3 month Professional free sign up. After 3 months</h4>
                <div className="plan-list">
                    <ul>
                        <li>
                            <h3><strong>Monthly Plan</strong> Perfect for beginners!</h3>
                            <h4><strong>$29.95/ <span>Month</span></strong> Valid for 1 month</h4>
                            <button type="button" className="btn btn-primary btn-small select-btn">Select</button>
                        </li>
                        <li>
                            <h3><strong>Annual Plan </strong> Perfect for All users!</h3>
                            <h4><strong>$250.00/ <span>Annually</span></strong> Valid for 1 Year</h4>
                            <button type="button" className="btn btn-primary btn-small select-btn">Select</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>