<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="F1QTbEPxWdQGxu6KV1rpfGinix_VNA7d6DDVmSRuhyc" />
    <title>Welcome :: The Minority Psychology Network</title>

    <!-- CSS link here -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Fonts -->

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;6 00;700&display=swap"
        rel="stylesheet">
    <!-- font-family: 'Montserrat', sans-serif; -->
    <!-- Bootstrap here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css"
        rel="stylesheet">

    {
    //////https://stackoverflow.com/questions/51801907/how-to-create-react-search-filter-for-search-multiple-object-key-values
    //////https://www.npmjs.com/package/autoCompleter
    }
</head>

<body>


    <div className="header">
        <div className="container-fluid">
            <div className="inner-con search-doctor">
                <div className="links">
                    <a href="#"><i className="angle-left"></i> Find Doctor</a>
                </div>
                <div className="explore">
                    Explore<span>Plus</span>
                </div>
            </div>
        </div>
    </div>
    <section className="main-section">
        <div className="filter-section">
            <div className="container-fluid">
                <div className="form">
                    <input type="search" className="searchInput" name="Search" placeholder="Psychiatric" />
                </div>
                <div className="filter-block">
                    <ul>
                        <li>
                            <label className="checkbox-label">
                                <input type="checkbox" name="Therapists">
                                <span className="checkbox-custom"></span>
                            </label>
                            Therapists
                        </li>
                        <li>
                            <label className="checkbox-label">
                                <input type="checkbox" name="Psychiatrists">
                                <span className="checkbox-custom"></span>
                            </label>
                            Psychiatrists
                        </li>
                        <li>
                            <label className="checkbox-label">
                                <input type="checkbox" name="Relationship">
                                <span className="checkbox-custom"></span>
                            </label>
                            Relationship
                        </li>
                    </ul>
                    <div className="all-filter-btn">
                        <a href="javascript:void(0)" className="btn btn-small-outline">All Filters</a>
                    </div>
                </div>
            </div>
        </div>
        <div className="content-section doctor-section">
            <div className="doctor-list">
                <ul>
                    <li>
                        <div className="list-header">
                            <div className="left">
                                <figure><img src="assets/images/doctor-profile.jpg" alt=""></figure>
                                <div className="caption">
                                    <h3>Melanie R Sida</h3>
                                    <h4>Psychiatric Nurse Practitioner, MSN, APRN, CPNP-PC, Rxn</h4>
                                </div>
                            </div>
                            <div className="right">
                                <a href="javascript:void(0)" className="btn btn-small-outline"><img
                                        src="assets/images/verified-user.png" alt="Verified User"> Verified</a>
                            </div>
                        </div>

                        <div className="content-block">
                            <p>Melanie is a Pediatric Nurse Practitioner specializing in children and adolescents with
                                developmental, behavioral and mental health disorders.</p>
                            <h3><strong>Specialties</strong> ADHD, Anxiety, Depression</h3>
                            <div className="cost">Cost per Session: $125 - $250</div>
                        </div>
                        <div className="list-footer">
                            <button type="button" className="btn btn-outline-primary">View Doctor</button>
                            <button type="button" className="btn btn-primary">Contact Doctor</button>
                        </div>
                    </li>
                    <li>
                        <div className="list-header">
                            <div className="left">
                                <figure><img src="assets/images/doctor-profile   .jpg" alt=""></figure>
                                 <div className="caption">
                                    <h3>Melanie R Sida</h3>
                                        <h4>Psychiatric Nurse Practitioner, MSN, APRN, CPNP-PC, Rxn</h4>
                                </div>
                            </div> 
                            <div className="right">
                                <a href="javascript:void(0)" className="btn btn-small-outline"><img
                                        src="assets/images/verified-user.png" alt="Verified User"> Verified</a>
                            </div> 
                        </div> 
                        <div className="content-block">
                            <p>Melanie is a Pediatric Nurse Practitioner specializing in children and adolescents with  
                                developmental, behavioral and mental health disorders.</p>
                            <h3><strong>Specialties</strong> ADHD, Anxiety, Depressi   on</h3>
                            <div className="cost">Cost per Session: $125 - $250</div>
                        </div>
                        <div className="list-footer">
                            <button type="button" className="btn btn-outline-primary">View Doctor</button>
                            <button type="button" className="btn btn-primary">Contact Doctor</button>
                        </div>
                    </li>
                    <li>
                        <div className="list-header">
                            <div className="left">
                                <figure><img src="assets/images/doctor-profile.jpg" alt=""></figure>
                                <div className="caption">
                                    <h3>Melanie R Sida</h3>
                                    <h4>Psychiatric Nurse Practitioner, MSN, APRN, CPNP-PC, Rxn</h4>
                                </div>
                            </div>
                            <div className="right">
                                <a href="javascript:void(0)" className="btn btn-small-outline"><img
                                        src="assets/images/verified-user.png" alt="Verified User"> Verified</a>
                            </div>
                        </div>  
                        <div className="content-block">
                            <p>Melanie is a Pediatric Nurse Practitioner specializing in children and adolescents with
                                developmental, behavioral and mental health disorders.</p>
                            <h3><strong>Specialties</strong> ADHD, Anxiety, Depression</h3>
                            <div className="cost">Cost per Session: $125 - $250</div>
                        </div>
                        <div className="list-footer">
                            <button type="button" className="btn btn-outline-primary">View Doctor</button>
                            <button type="button" className="btn btn-primary">Contact Doctor</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>