*{
    outline: none!important;
}

table {
    border-collapse: inherit;
}
html{
    overflow-x:hidden;
}
body {
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 400;
    font-size: $fontLarge;
    overflow-x:hidden;
    padding-right: 0!important;
    margin:0!important;
    position: relative;
}
a{
    text-decoration: none!important;
    transition: all 0.2s ease 0s;
    color: $blue;
}
button,input[type="submit"],input[type="button"]{
    transition: all 0.2s ease 0s;
}

.btn {
    cursor: pointer;
    &.btn-outline-primary {
        width: 100%;
        color:$default;
        border-color: #DAA520;
        font-size: 18px!important;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif!important;
        box-shadow: 0 2px 4px #e5e5e5;
        line-height: 58px!important;
        @include border-radius(4px);
        @include breakpoint(xxs){
            line-height: 48px!important;
            font-size: $fontMedium!important;
        }
        &:hover, &:focus {
            background: #DAA520!important;
            color: $white!important;
        }
    }
    &.btn-primary {
        width: 100%;
        font-size: 18px!important;
        font-weight: 400;
        line-height: 58px!important;
        font-family: 'Open Sans', sans-serif!important;
        box-shadow: 0 2px 4px #e5e5e5;
        border-color: $default;
        background: $default!important;
        color: $white!important;
        @include border-radius(4px);
        @include breakpoint(xxs){
            line-height: 38px!important;
            font-size: $fontMedium!important;
        }
        &.btn-small {
            width: auto;
            font-size: 18px!important;
            line-height: 38px!important;
        }
    }
    &.btn-small-outline {
        color: $default!important;
        border-color: $default;
        background: $white;
        width: auto;
        font-size: 18px!important;
        line-height: normal!important;
        padding: 6px 10px!important;
        @include border-radius(4px);
        box-shadow: none;
        @include breakpoint(xxs){
            font-size: $fontMedium!important;
        }
        &:hover, &:focus {
            color: #DAA520!important;
            border-color: #DAA520;
        }
    }
}



.fullwidth {
    width: 100%!important;
}
.left{
    text-align: $left!important;
}
.center{
    text-align:$center!important;
}
.right{
    text-align:$right!important;
}

.mg-top-0 {
    margin-top: 0!important;
}
.pb-0 {
    padding-bottom: 0!important;
}
.positionRelative {
    position: relative!important;
}
ul {
    margin: 0!important;
    padding: 0!important;
    list-style: none;
}

button[disabled] {
    opacity: 0.4;
    pointer-events: none;
}

.btn {
    display: inline-block;
    @include border-radius(6px);
    text-align: $center;
    font-weight: $normal;
    padding: 0 12px!important;
    line-height: 44px!important;
    font-size: 17px!important;
    &:hover, &:focus {
        color:$white;
        outline: none;
        outline-offset: 0;
        box-shadow: none!important;
    }
}

.dashformControl {
    input[type="text"], input[type="password"], input[type="number"] {
        padding: 10px;
        font-size: $fontLarge;
        width: 100%;
        height: 48px;
        border: solid 2px #e5e5e5;
        font-weight: $normal;
        color: $darkgray;
        @include border-radius(4px);

        @include breakpoint(xs) {
            height: 38px;
        }

        &:focus {
            border: solid 2px #0083df;
            outline: none;
        }
    }
}



// flex property
@mixin flexSimple() {
    display: flex;
    align-items: center;
}
@mixin flexBox() {
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: relative;
}
.applogo{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
}
.flexdiv  {
    display: flex;
    justify-content: space-between;
}

.formBox {
	margin:0;
    fieldset {
        position:relative;
        z-index:1;
        margin-bottom:28px;
        background: #f8fafc;
        @include border-radius(12px);
        &.location {
            .form-control {
                padding-left: 35px;
            }
            .placeholder {
                left:25px;
            }
            .location-icon {
                position: absolute;
                top:50%;
                left:12px;
                transform: translateY(-50%);
                img {
                    width: 20px;
                }
            }
        }
        &.date-DatePicker {
            z-index: auto;
            .placeholder {
                top:0;
                background: $white;
                z-index: 1;
            }
            .react-datepicker-wrapper {
                width:100%;
                display:block;
                input[type="text"] {
                    width:100%;
                    display:block;
                    font-size:18px;
                    color:#646464;
                    border: none;
                    padding:15px 20px 15px 20px;
                    outline: none;
                    background: none;
                    border: solid #dfe3e9 1px;
                    border-radius:12px!important;
                    font-family: 'Open Sans', sans-serif!important;
                    font-weight: 400;
                    @include breakpoint(xxs){
                        font-size: $fontMedium;
                        padding: 10px;           
                    }
                }
                
            }
            .react-datepicker__tab-loop {
                .react-datepicker-popper {
                    z-index: 999!important;
                    .react-datepicker {
                        min-width: 260px;
                        .react-datepicker__triangle {
                            border-bottom-color:$default;
                        }
                        .react-datepicker__navigation.react-datepicker__navigation--previous {
                            border-right-color:$white;
                        }
                        .react-datepicker__navigation.react-datepicker__navigation--next {
                            border-left-color:$white; 
                        }
                        .react-datepicker__month-container {
                            width:100%;
                            .react-datepicker__header {
                                background: $default;
                                color:$white;
                                
                            }
                            .react-datepicker__month {
                                text-align: $left;
                                .react-datepicker__month-wrapper {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    .react-datepicker__month-text {
                                        width:50%; 
                                        padding:2px 10px;
                                        &.react-datepicker__month--selected.react-datepicker__month-text--keyboard-selected {
                                            background: $default;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                    
                }
            }
        }
        &.doller {
            .form-control {
                padding-right: 40px;
            }
            i.fa-usd {
                position: absolute;
                top:50%;
                right:20px; 
                font-size: 16px;
                color: $gray;
                transform: translateY(-50%);
            }
        }
        .help-block {
            position: absolute;
            bottom: -18px;
            left:0;
        }
        &.selectInput {
            z-index: 99;
            .css-g1d714-ValueContainer {
                line-height: 24px;
            }
            &:after {
                content:'';
                position: absolute;
                top: 2px;
                right: 2px;
                bottom: 2px;
                width: 36px;
                @include border-radius(0 12px 12px 0);
                background: #fff url("../assets/images/down-arrow.png") no-repeat center center;
                pointer-events: none;
            }
            .css-yk16xz-control {
                border: solid #dfe3e9 1px;
                padding: 5px 10px;
            }
            .css-1pahdxg-control {
                line-height: 46px;
            }
            
            .form-control {
                height: 58px!important;
                padding-left: 17px;
                background: $white;
                @include breakpoint(xxs){
                    height: 46px!important;
                    padding-left: 8px;
                }
            }
            .placeholder {
                top:-2px;
                background: $white;
                z-index: 1;
            }
        }
        &.password-fld {
            position: relative;
            .eye-btn {
                position: absolute;
                top:50%;
                right:20px;
                transform: translateY(-50%);
            }
        }
        &.textareaInput {
            .placeholder {
                top:20px;
            }
        }        
        .placeholder {
            background: #f8fafc;
            padding: 0 10px;
            position: absolute;
            top:50%;
            left:13px;
            z-index:-1;
            font-size:18px;
            font-family: 'Open Sans', sans-serif!important;
            font-weight: 400;
            color:#646464;
            transform: translateY(-50%);
            transition: all 0.5s ease-in-out;
            pointer-events: none;
            @include breakpoint(xxs){
                font-size: $fontMedium;   
                left:8px;
                padding:0 5px;       
            }
        }
        .not-verified {
            position: absolute;
            color: #ff0000;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
        .verified {
            font-size: 18px;
            position: absolute;
            color: #14466e;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
        .form-control {
            font-size:18px;
            color:#646464;
            border: none;
            padding:15px 20px 15px 20px;
            outline: none;
            background: none;
            border: solid #dfe3e9 1px;
            border-radius:12px!important;
            font-family: 'Open Sans', sans-serif!important;
            font-weight: 400;
            @include breakpoint(xxs){
             font-size: $fontMedium;
             padding: 10px;           
            }
            
            &:focus {
                box-shadow: none;
            }
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #7f7f7d;
                font-size:$fontMedium;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: #7f7f7d;
                font-size:$fontMedium;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: #7f7f7d;
                font-size:$fontMedium;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: #7f7f7d;
                font-size:$fontMedium;
            }
        }
      
        textarea.form-control {
            height:120px;
            resize:none;
        }
        
        label.error {
            position:absolute;
            top:100%;
            left:0;
            color:red;
            display:none;
            margin:0;
            font-size: 12px;
            &.password-error {
                position: relative;
                text-align: left;
            }
        }
        
        &.input--filled {
            background: $white;
            .placeholder {
                top:-1px;
                background: $white;
                z-index:1;
            }
        }
        
    }
}




.scrollSection, .bidscrollSection {
	overflow-y:auto;
	scroll-behavior: smooth;
	overflow-y: auto; 
  	scrollbar-width: thin;
  	scrollbar-color: #343434 #cecece;
}

.scrollSection::-webkit-scrollbar-track, .bidscrollSection::-webkit-scrollbar-track
{
    
    background-color: rgba(0,0,0,0.1);
}

.scrollSection::-webkit-scrollbar, .bidscrollSection::-webkit-scrollbar
{
    width: 4px;
    background-color: rgba(0,0,0,0.1);
}

.scrollSection::-webkit-scrollbar-thumb, .bidscrollSection::-webkit-scrollbar-thumb
{
    background: rgba(0,0,0,0.75);
    
}

.scrollSection::-ms-scrollbar-track, .bidscrollSection::-ms-scrollbar-track
{
    
    background-color: rgba(0,0,0,0.1);
}

.scrollSection::-ms-scrollbar, .bidscrollSection::-ms-scrollbar
{
    width: 4px;
    background-color: rgba(0,0,0,0.1);
}

.scrollSection::-ms-scrollbar-thumb,  .bidscrollSection::-ms-scrollbar-thumb
{
    background: rgba(0,0,0,0.75);
    
}


//horizontal custom css scroll
.horizontalScroll, .tabledata {
	overflow-x:auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
  	scrollbar-width: thin;
  	scrollbar-color: #343434 #cecece;
  	border-bottom: none!important;
  	height: auto!important;
}
.horizontalScroll::-webkit-scrollbar-track, .tabledata::-webkit-scrollbar-track
{   
    background-color: rgba(0,0,0,0.1);
}
.horizontalScroll::-webkit-scrollbar, .tabledata::-webkit-scrollbar
{
    width: 4px;
    background-color: rgba(0,0,0,0.1);
}
.horizontalScroll::-webkit-scrollbar-thumb, .tabledata::-webkit-scrollbar-thumb
{
    background: rgba(0,0,0,0.75);
}
.horizontalScroll::-webkit-scrollbar:horizontal, .tabledata::-webkit-scrollbar:horizontal {
	width: 100%;
	height: 4px;
	background-color: rgba(0,0,0,0.1);
}



.checkbox-label {
    position: relative;
    padding-left: 24px;
    color: $default;
    font-size: 18px;
    height: 18px;
    vertical-align: middle;
    margin: 0;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkbox-custom {
            background:$default;
            border-radius: 2px;
            border:1px solid $default;
            transform: rotate(0deg) scale(1);
            opacity: 1;
            &:after {
                transform: rotate(45deg) scale(1);
                opacity: 1;
                left: 6px;
                top: 1px;
                width: 6px;
                height: 11px;
                border:solid $white;
                border-width: 0 2px 2px 0;
                border-radius: 0;
                z-index: 99;
            }
        }
    }
    .checkbox-custom {
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background-color: transparent;
        border-radius: 2px; 
        border:solid 1px #cdcdcd;
        &:after {
            position:absolute;
            content: '';
            left: 10px;
            top: 10px;
            height: 0;
            width: 0;
            border-radius: 5px;
            border:solid #111;
            border-width: 0 1px 1px 0;
            transform: rotate(0deg) scale(0);
            opacity: 1;
        }
    }
}


.checkbox-label-custom {
    position: relative;
    padding-left: 40px;
    color: #333333;
    font-weight: normal;
    font-size: 14px;
    margin-bottom:0;
    height: 20px; 
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        margin: 0;
        left: 0;
        top: 0;
        &:checked ~ .checkbox-custom {
            border:1px solid #e5e9eb;
            opacity: 1;
            &:after {
                background: #23649a;
            }
        }
    }
    .checkbox-custom {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border-radius: 100%; 
        border:solid 1px #bbbbbb;
        &:after {
            position:absolute;
            content: '';
            opacity: 1;
            left: 3px;
            top: 3px;
            width: 12px;
            height: 12px;
            border:0;
            border-width: 0;
            background: #c9c9c9;
            @include border-radius(100%);
            z-index: 99;
        }
    }
}

.dashselectInput {
    position: relative;
    select {
        padding: 8px 30px 8px 8px;
        color: #848482;
        font-size: $fontLarge;
        font-weight: bold;
        width: 100%;
        border: solid 1px #cedaf1;
        @include border-radius(6px); 
        option {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
        }
        &:focus {
            border: solid 1px #5eb79e;
        }
    }
    &:after {
        content:'';
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        width: 30px;
        @include border-radius(0 2px 2px 0);
        background: #fff url(../assets/images/down-arrow.png) no-repeat center center;
        pointer-events: none;
    }
    &.taskselectInput {
        select {
            font-weight: normal;
            color:#252525;
            padding: 8px 20px 8px 8px;
        }
        &:after {
            background: #fff url(../assets/images/down-arrow.png) no-repeat center center;
        }
    }
    span.error, label.error { 
        position: absolute;
        bottom: -15px;
        left: 0;
        margin-bottom: 0;
        line-height: 16px;
        font-size: 12px;
        color: $red;
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow:hidden; 
    }
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: $center;
    margin:20px 0 0 0!important;
    position: relative;
    z-index: 1;
    li {
        margin:0!important;
        padding:0!important;
        .page-item {
            margin: 0 5px; 
            padding:0!important;
            border:solid 1px $default;
            @include border-radius(4px);
            span {
                display:inline-block;
                border:none;
                text-align: center;
                min-width: 20px;
            }
            span.sr-only {
                display: none;
            }
        }
        a {
            display: block;
            padding: 2px 5px;
            color: $default;
            font-size: $fontMedium;
            min-width: 30px;
            line-height: 32px;
            text-align: $center;
            
        }
        &.active, &:hover {
            a {
                background: $default!important;
                color: $white!important;
                border-color: $default!important;            }
        }
        &.previous.disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
        }
    }
}



.loaderDiv {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.modal {
    .modal-dialog {
        .modal-header {
            padding: 8px 10px;
            .modal-title {
                font-size: 18px;
            }
            .close {
                padding: 0!important;
                margin: 0!important;
                cursor: pointer;    
            }
        }
        .modal-body {
            text-align: center;
        }
    }
}


.error {
    position:absolute;
    top:100%;
    left:0;
    color:red;
    display:none;
    margin:0;
    font-size: 12px;
}

.map-btn {
    padding: 0;
    position: absolute;
    left:13px;
    top:50%;
    transform: translateY(-50%);
    img {
        width: 20px;
    }
}

.css-2613qy-menu {
    position: absolute;
    text-align: left;
    z-index: 999;
    background: $white;
    display: flex;
    flex-direction: column;
    text-align: left;
}


.bell {
    position: relative;
    min-width: 24px;
    a {
        .badge {
            position: absolute;
            top:-5px;
            right: -6px;
            width: 20px;
            height:20px;
            line-height: 20px;
            background: $white;
            font-size: $fontSmall;
            padding: 0;
            color: $gray;
            box-shadow: 0 0 2px $gray;
            @include border-radius(100%);
        }
    }
}

.fieldRow {
    position: relative;
    margin-bottom: 20px;
    fieldset {
        margin-bottom: 4px;
    }
    .error {
        position: relative;
        text-align: left;
    }
}