/*********************Reset css start here************************/


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, dl, dt, dd, ul, li, button, fieldset, form, label, legend, blockquote, figure {
    margin-top: 0;
    border: 0;
    outline: 0;  
    vertical-align: baseline;
    background: transparent;
    // list-style: none;
}

img {
    border: none;
    max-width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;	
    //@include css3-transition(transition, all .5s cubic-bezier(0.49, 0.38, 0.23, 0.96) 0s);
    &:focus {
        outline: 0;
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}