<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="F1QTbEPxWdQGxu6KV1rpfGinix_VNA7d6DDVmSRuhyc" />
    <title>Welcome :: The Minority Psychology Network</title>
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css"
        rel="stylesheet">
</head>
<body>
    <section className="main-container">          
        <div className="container-fluid">
            <div className="content login">
                <div className="logo"><a href="#"><img src="../assets/images/logo.png"></a></div>
                <div className="welcome">
                    <strong>Welcome Back</strong>
                    Enter your credentials to continue!
                </div>
                <div className="form-block formBox">
                    <fieldset>
                        <span className="placeholder">Email</span>
                        <input type="text" name="fname" value="Johnsmith@gmai.com" className="form-control input__field"
                            autoComplete="off">
                    </fieldset>
                    <fieldset>
                        <span className="placeholder">Password</span>
                        <input type="password" name="fname" className="form-control input__field" autoComplete="off">
                    </fieldset>
                    <div className="forgot-link"><a href="#">Forgot Password?</a></div>
                </div>
                <button type="button" className="btn btn-primary">Login</button>
                <div className="dont-have-account">Don't have an account? <a href="#">Sign Up</a></div>
            </div>
        </div>
    </section>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>