<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="F1QTbEPxWdQGxu6KV1rpfGinix_VNA7d6DDVmSRuhyc" />
    <title>Welcome :: The Minority Psychology Network</title>
    <!-- CSS link here -->
    <link href="../assets/css/s tyle.css" rel="stylesheet" type="text/css" />
    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap"
        rel="stylesheet">
    <!-- Bootstrap here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css"
        rel="stylesheet">
</head>
<body>
    <section className="main-container">
        <div className="container-fluid">
            <div className="content login-con">
                <div className="logo"><a href="#"><img src="../assets/images/logo.png"></a></div>
                <div className="log in-heading">Sign is as</div>
                <button type="button" className="btn btn-primary">Member</button>
                <div className="or">Or</div>
                <button type="button" className="btn btn-outline-primary">User</button>
                <div className="dont-have-account">Don't have an account? <a href="#">Sign Up</a></div>
            </div>
        </div>
    </section>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>