<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="F1QTbEPxWdQGxu6KV1rpfGinixVNA7d6DDVmSRuhyc" />
    <title>Welcome :: The Minority Psychology Network</title>
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,5 
          00;0,600;0,700;0,800;1,100;1,300 & display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0 .0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAw iGgFAW/dAi S6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css"
        rel="stylesheet">
</head>  
<body>
    <div className="login-signup-header fixed">
        <div className="container-fluid">
            <div className="links">
                <a href="#"><i className="angle-left"></i> Sign Up</a>
                <a href="#">Log In</a>
            </div>
        </div>
    </div>
    <section className="main-container mid-con">
        <div className="container-fluid">
            <div className="content login">
                <div className="welcome mg-top-0">
                    <strong>Create Your Account</strong>
                    Join Now- it's free & easy!
                </div>
                <div className="form-block formBox">
                    <fieldset>
                        <span className="placeholder">First Name </span>
                        <input type="text" name="First Name" value="Jacob" className="form-control input__field"
                            autoComplete="off">
                    </fieldset>
                    <fieldset>
                        <span cl ass="placeholder">Last Name </span>
                        <input type="password" name="Last Name" className="form-control input__field"
                            autoComplete="off">
                    </fieldset>
                    <fieldset>
                        <span className="placeholder">Email</span>
                        <input type="text" name="Email" value="" className="form-control input__field"
                            autoComplete="off">
                    </fieldset>
                    <fieldset>
                        <span className="placeholder">Password</span>
                        <input type="password" name="Password" className="form-control input__field" autoComplete="off">
                    </fieldset>
                    <fieldset className="selectInput">
                        <span className="placeholder">Country</span>
                        <select className="form-control input__field">
                            <option value="">India</option>
                            <option value="">USA</option>
                        </select>
                    </fieldset>
                    <fieldset className="selectInput">
                        <span className="placeholder">Gender</span>
                        <select className="form-control input__field">
                            <option value="">Male</option>
                            <option value="">Female</option>
                        </select>
                    </fieldset>
                </div>
            </div>
        </div>
    </section>
    <div className="bottom-footer">
        <div className="container-fluid">
            <div className="button-block">
                <button type="button" className="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>