<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="F1QTbEPxWdQGxu6KV1rpfGinix_VNA7d6DDVmSRuhyc" />  
    <title>Welcome :: The Minority Psychology Network</title>
    <!-- CSS link here -->  
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap"
        rel="stylesheet">      

    <!-- Bootstrap here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css"
        rel="stylesheet">
</head>   
<body>
    <div className="login-signup-header fixed">
        <div className="container-fluid">
            <div className="links">
                <a href="#"><i className="angle-left"></i> Sign Up</a>
                <a href="#">Log In</a>
            </div>
        </div>
    </div>
    <section className="main-container mid-con">
        <div className="container-fluid">
            <div id="step1">
                <div className="content login">
                    <div className="welcome mg-top-0">
                        <strong>Create Your Account</strong>
                        Join Now- it's free & easy!
                    </div>
                    <div className="form-block formBox">

                        <fieldset>
                            <span className="placeholder">First Name </span>
                            <input type="text" name="First Name" value="Jacob" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">Last Name </span>
                            <input type="password" name="Last Name" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">Email</span>
                            <input type="text" name="Email" value="" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">Password</span>
                            <input type="password" name="Password" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <fieldset className="selectInput">
                            <span className="placeholder">Country</span>
                            <select className="form-control input__field">
                                <option value="">India</option>
                                <option value="">USA</option>
                            </select>
                        </fieldset>
                        <fieldset className="selectInput">
                            <span className="placeholder">Gender</span>
                            <select className="form-control input__field">
                                <option value="">Male</option>
                                <option value="">Female</option>
                            </select>
                        </fieldset>
                    </div>


                </div>
                <div className="bottom-footer">
                    <div className="button-block">
                        <button type="button" id="next1" className="btn btn-primary">Next</button>
                    </div>
                </div>
            </div>
            <div id="step2" style="display: none;">
                <div className="content login">
                    <div className="welcome mg-top-0">
                        <strong>Name &amp; Location</strong>
                        Join Now- it's free & easy!
                    </div>
                    <div className="form-block formBox">

                        <fieldset className="selectInput">
                            <span className="placeholder">Title</span>
                            <select className="form-control input__field">
                                <option value="">Dr.</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">First Name </span>
                            <input type="password" name="First Name" value="Jacob" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">Last Name </span>
                            <input type="password" name="Last Name" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <fieldset className="selectInput">
                            <span className="placeholder">Credentials</span>
                            <select className="form-control input__field">
                                <option value="">Credentials</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">Phone </span>
                            <input type="password" name="Phone" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <h3 className="left">Location</h3>
                        <fieldset>
                            <span className="placeholder">Address</span>
                            <input type="text" name="Address" value="" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">Street Address</span>
                            <input type="text" name="Street Address" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">Address Line 2</span>
                            <input type="text" name="Address Line 2" value="" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">City</span>
                            <input type="text" name="City" className="form-control input__field" autoComplete="off">
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">State</span>
                            <input type="text" name="State" className="form-control input__field" autoComplete="off">
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">Zip Code</span>
                            <input type="text" name="Zip Code" className="form-control input__field" autoComplete="off">
                        </fieldset>
                        <div className="checkbox">
                            <label className="checkbox-label">
                                <input type="checkbox">
                                <span className="checkbox-custom"></span>
                            </label>
                            Hide address from public view
                        </div>
                    </div>
                </div>
                <div className="bottom-footer">
                    <div className="button-block">
                        <button type="button" id="back1" className="btn btn-primary">Back</button>
                        <button type="button" id="next2" className="btn btn-primary">Next</button>
                    </div>
                </div>
            </div>
            <div id="step3" style="display: none;">
                <div className="content login">
                    <div className="welcome mg-top-0">
                        <strong>Billing Info</strong>
                    </div>
                    <div className="form-block formBox">

                        <fieldset className="selectInput">
                            <span className="placeholder">Mental Health Role</span>
                            <select className="form-control input__field">
                                <option value="">Counselor</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">License Number </span>
                            <input type="text" name="License Number" value="" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <fieldset className="selectInput">
                            <span className="placeholder">License State</span>
                            <select className="form-control input__field">
                                <option value="">License State</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">License Expiration </span>
                            <input type="password" name="License Expiration" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <h3 className="left">Billing Info</h3>
                        <fieldset>
                            <span className="placeholder">Card Number</span>
                            <input type="text" name="Card Number" value="" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">Expiry Date</span>
                            <input type="text" name="Expiry Date" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">Security Code</span>
                                    <input type="text" name="Security Code" value=""
                                        className="form-control input__field" autoComplete="off">
                        </fieldset>
                        <fieldset>
                            <span className="placeholder">Name on Card</span>
                              <input type="text" name="Name on Card" className="form-control input__field"
                                autoComplete="off">
                        </fieldset>
                        <div className="radio-block">    
                           <ul> 
                                <li>
                                    <label className="checkbox-label">
                                        <input type="radio" checked name="address">
                                        <span className="checkbox-custom"></span>
                                    </label>
                                    <strong>Billing Address</strong>          
                                    <p>The BLVD at Medical Center Apartments 4980 USAA Blvd San
                                        Antonio, TX 78240, San Antonio, 78240</p>
                                </li>
                                <li>
                                    <label className="checkbox-label">
                                        <input type="radio" name="address">
                                        <span className="checkbox-custom"></span>
                                    </label>
                                    <p>Use Different Address</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div className="bottom-footer">
                    <div className="button-block">
                        <button type="button" className="btn btn-primary">Make Payment</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/app.js"></script> n
</body>

</html>