<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="F1QTbEPxWdQGxu6KV1rpfGinix_VNA7d6DDVmSRuhyc" />
    <title>Welcome :: The Minority Psychology Network</title>
    <!-- CSS link here -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <!--Fonts-->
    <linkxd
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap"
        rel="stylesheet">
        <!-- Bootstrap here -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstr  ap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E26       3XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css"
            rel="stylesheet">
</head>

<body>
    <div className="login-signup-header fixed">
        <div className="container-fluid">
            <div className="links">
                <a href="#"><i className="angle-left"></i> Sign Up</a>
                <a href="#">Log In</a>
            </div>
        </div>
    </div>
    <section className="main-container mid-con">
        <div className="container-fluid">
            <div className="content login">
                <div className="welcome mg-top-0"></div>
                <strong>Billing Info</strong>
            </div>
            <div className="form-block formBox">
                <fieldset className="selectInput">
                    <span className="placeholder">Mental Health Role</span>
                    <select className="form-control input__field">
                        <option value="">Counselor</option>
                    </select>
                </fieldset>
                <fieldset>
                    <span className="placeholder">License Number </span>
                    <input type="text" name="License Number" value="" className="form-control input__field"
                        autoComplete="off">
                </fieldset>
                <fieldset className="selectInput">
                    <span className="placeholder">License State</span>
                    <select className="form-control input__field">
                        <option value="">License State</option>
                    </select>
                </fieldset>
                <fieldset>
                    <span className="placeholder">License Expiration </span>
                    <input type="password" name="License Expiration" className="form-control input__field"
                        autoComplete="off">
                </fieldset>
                <h3 className="left">Billing Info</h3>
                <fieldset>
                    <span className="placeholder">Card Number</span>
                    <input type="text" name="Card Number" value="" className="form-control input__field"
                        autoComplete="off">
                </fieldset>
                <fieldset>
                    <span className="placeholder">Expiry Date</span>
                    <input type="text" name="Expiry Date" className="form-control input__field" autoComplete="off">
                </fieldset>
                <fieldset>
                    <span className="placeholder">Security Code</span>
                    <input type="text" name="Security Code" value="" className="form-control input__field"
                        autoComplete="off">
                </fieldset>
                <fieldset>
                    <span className="placeholder">Name on Card</span>
                    <input type="text" name="Name on Card" className="form-control input__field" autoComplete="off">
                </fieldset>
                <div className="radio-block">
                    <ul>
                        <li>
                            <label className="checkbox-label">
                                <input type="radio" checked name="address">
                                <span className="checkbox-custom"></span>
                            </label>
                            <strong>Billing Address</strong>
                            <p>The BLVD at Medical Center Apartments 4980 USAA Blvd San
                                Antonio, TX 78240, San Antonio, 78240</p>
                        </li>
                        <li>
                            <label className="checkbox-label">
                                <input type="radio" name="address">
                                <span className="checkbox-custom">
                            </label>
                            <p>Use Different Address</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>
    <div className="bottom-footer">
        <div className="container-fluid">
            <div className="button-block">
                <button type="button" className="btn btn-primary">Make Payment</button>
            </div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>