<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="F1QTbEPxWdQGxu6KV1rpfGinix_VNA7d6DDVmSRuhyc" />
    <title>Welcome :: The Minority Psychology Network</title>
    <!-- CSS link here -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap"
        rel="stylesheet">
    <!-- Bootstrap here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css"
        rel="stylesheet">
</head>
<body>
    <div className="login-signup-header fixed">
        <div className="container-fluid">
            <div className="links">
                <a href="#"><i className="angle-left"></i> Profile</a>
            </div>
        </div>
    </div>
    <section className="main-container mid-con">
        <div className="container-fluid">
            <div className="content login">
                <div className="welcome mg-top-0">
                    <strong>Hello User Name! Lets<br> build your dedicated profile</strong>
                    <p className="email"><a href="#">abcd008@gmail.com</p>
                </div>
                <div className="upload-photo">
                    <figure><img src="../assets/images/user.png" alt="User"></figure>
                    <button type="button" className="btn btn-primary upload-btn">
                        <input type="file">Upload Photo
                    </button>
                </div>
                <div className="form-block formBox profile">
                    <h3 className="left">Qualification</h3>
                    <div className="row">
                        <div className="col-md-6">
                            <fieldset>
                                <span className="placeholder">First Name </span>
                                <input type="text" name="First Name" value="" className="form-control input__field"
                                    autoComplete="off">
                            </fieldset>
                        </div>
                        <div className="col-md-6">
                            <fieldset>
                                <span className="placeholder">Last Name </span>
                                <input type="text" name="Last Name" value="" className="form-control input__field"
                                    autoComplete="off">
                            </fieldset>
                        </div>
                    </div>
                    <fieldset>
                        <span className="placeholder">Type your Mobile Number </span>
                        <input type="password" name="Type your Mobile Number" className="form-control input__field"
                            autoComplete="off">
                    </fieldset>
                    <fieldset>
                        <span className="placeholder">Type your Email id</span>
                        <input type="text" name="Email" value="" className="form-control input__field"
                            autoComplete="off">
                    </fieldset>
                    <h3 className="left">Gender</h3>
                    <div className="gender-block">
                        <ul>
                            <li>
                                <label className="checkbox-label">
                                    <input type="radio" name="gender">
                                    <span className="checkbox-custom"></span>
                                </label>
                                Male
                            </li>
                            <li>
                                <label className="checkbox-label">
                                    <input type="radio" name="gender">
                                    <span className="checkbox-custom"></span>
                                </label>
                                Female
                            </li>
                            <li>
                                <label className="checkbox-label">
                                    <input type="radio" name="gender">
                                    <span className="checkbox-custom"></span>
                                </label>
                                Other
                            </li>
                        </ul>
                    </div>
                    <fieldset className="location">
                        <i><img src="../assets/images/location.png" alt="Location"></i>
                        <span className="placeholder">Location</span>
                        <input type="text" name="Email" value="" className="form-control input__field"
                            autoComplete="off">
                    </fieldset>
                </div>
            </div>
        </div>
    </section>
    <div className="bottom-footer">
        <div className="container-fluid">
            <div className="button-block">
                <button type="button" className="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>